@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
*,
.header-btns ul,
ul {
  padding: 0;
  margin: 0;
}
.heropmbn-box,
.heroteam-part {
  overflow: hidden;
  box-sizing: border-box;
}
.footer-nav ul li a:hover,
.popupform-item3 h5 a,
.rbmeftpd-right p a {
  text-decoration: underline;
}
.followus-part ul,
.footer-nav ul,
.header-btns ul,
.newtextitem2 ul,
ul {
  list-style-type: none;
}
body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: #333;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
::selection {
  color: #fff;
  background: #2f80eb;
}
::-webkit-selection {
  color: #fff;
  background: #2f80eb;
}
::-moz-selection {
  color: #fff;
  background: #ff7675;
}
.container {
  max-width: 1240px;
  display: block;
  margin: auto;
  padding: 0 15px;
}
.headertop-area {
  background-color: #fff;
  padding: 6px 0;
}
.headertop-part p {
  font-family: "Open Sans", sans-serif;
  color: #191921;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertop-part p img {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 5px;
}
.header-area {
  padding: 10px 0;
  background: linear-gradient(90deg, #0f4fef 53%, #fd6f06 100%);
}
.header-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo img {
  max-width: 100%;
  display: block;
  width: 245px;
}
.header-btns ul {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5px;
}
.header-btns ul li {
  display: inline-block;
  padding-right: 5px;
}
.header-btns ul li a {
  font-family: "Open Sans", sans-serif;
  color: #1d1d1f;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  width: 150px;
  height: 48px;
  display: block;
  border-radius: 3px;
  line-height: 48px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #fff;
}
.header-btns ul li a:hover {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}
.header-btns ul li:nth-child(1) a {
  background-color: initial;
  transition: 0.3s;
  color: #fff;
}
.header-btns ul li:nth-child(1) a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}
.header-btns ul li:nth-child(3) a {
  width: 92px;
  line-height: 18px;
  font-weight: 400;
  font-size: 13px;
  padding: 4px 0;
  box-sizing: border-box;
}
.header-btns ul li:nth-child(3) a span {
  font-size: 18px;
  font-weight: 600;
}
.header-btns ul li:nth-child(3) a:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
}
.Close-icon,
.menu-part {
  display: none;
}
.menu-part img {
  filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(7%)
    hue-rotate(136deg) brightness(103%) contrast(103%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.hero-area {
  background-color: #fff;
  padding: 60px 0 80px;
}
.heropmbnpart {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}
.heropmbn-box {
  height: 301px;
  border-radius: 7px;
  width: 100%;
  position: relative;
}
.heroteamimg,
img.heropmbnimg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9;
  top: 0;
}
.innerheroteam,
.innterheropmbn {
  position: absolute;
  z-index: 999;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  bottom: 30px;
}
.innterheropmbn p {
  color: #fff;
  margin: 0;
  padding-bottom: 5px;
}
.innterheropmbn3 > h2,
.innterheropmbn > h2 {
  font-weight: 800;
  -webkit-text-stroke-color: #fff;
  padding-bottom: 8px;
  font-style: normal;
  line-height: normal;
}
.innterheropmbn > h2 {
  font-size: 52px;
  color: #b21b86;
  -webkit-text-stroke-width: 1px;
  text-shadow: 0 0 5px #3e0835, 0 0 13px #f300ca, 0 0 15px #ff00c0,
    0 0 12px #ff00c1, 0 0 7px #da05cf, 0 0 15px #ff00c8;
}
.innterheropmbn2,
.innterheropmbn2 p {
  text-align: center;
}
.innterheropmbn3 > h2 {
  font-size: 46px;
  color: rgb(2 80 206);
  -webkit-text-stroke-width: 1.56px;
  text-shadow: 0 0 5px #86daff, 0 0 13px #00ffe2, 0 0 15px #0083ff,
    0 0 12px #6590ff, 0 0 7px #30ffec, 0 0 15px #0b00ff;
  width: 500px;
  transform: translateX(50px);
}
.innterheropmbn > p {
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.innerheroteam a,
.innterheropmbn a {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  width: 170px;
  height: 42px;
  border: 1px solid #fff;
  display: block;
  border-radius: 3px;
  line-height: 42px;
  text-align: center;
  transition: 0.3s;
  margin-top: 15px;
  position: relative;
  z-index: 999;
  background: radial-gradient(#fff, #c3c5c5);
}
.innerheroteam a:hover,
.innterheropmbn a:hover {
  background: radial-gradient(#fff, #9b9c9c);
  color: #000;
}
.bgcolor {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.innterheropmbn1 img {
  display: block;
  max-width: 100%;
  margin-left: -54px;
  margin-bottom: -35px;
  margin-top: -38px;
}
.innterheropmbn2 img {
  display: block;
  max-width: 100%;
  margin: -45px auto;
}
.innterheropmbn2 a {
  margin: 15px auto auto;
}
.heroteam-part {
  height: 346px;
  border-radius: 7px;
  width: 100%;
  position: relative;
  margin-top: 40px;
}
.heroteamimg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9;
  top: 0;
  display: none;
}
.innerheroteam p {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  line-height: 60px;
}
.innerheroteam img {
  max-width: 100%;
  display: block;
  margin-bottom: -41px;
  margin-top: -50px;
}
.footer-area {
  background-color: #191921;
  padding: 70px 0 50px;
}
.footerpart {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 30px;
}
.footerleft,
.ppform-item1-left,
.ppform-item1-right {
  width: 50%;
}
.footerright {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: right;
  gap: 90px;
}
.footer-nav h3 {
  font-family: "Open Sans", sans-serif;
  color: #ff8022;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 12px;
}
.followus-part h3,
.footerdownload-part h3 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
.footer-nav ul {
  padding: 0;
  margin: 0;
}
.footer-nav ul li {
  display: block;
  padding-bottom: 6px;
}
.footer-nav ul li a {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  line-height: 26px;
  transition: 0.3s;
}
.footerdownload-part {
  width: 200px;
}
.footerdownload-part h3 {
  padding-bottom: 20px;
}
.footerdownload-part ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkboxpart input:checked ~ .checkmark:after,
.footerdownload-part ul li,
.overlay.active,
.popup.active {
  display: block;
}
.footerdownload-part ul li img {
  width: 100%;
  display: block;
}
.followus-part {
  width: 120px;
}
.followus-part h3 {
  padding-bottom: 15px;
  text-align: center;
}
.footerlast-left h6,
.footerlast-right p {
  font-weight: 400;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.followus-part ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.followus-part ul li {
  display: inline-block;
  margin: 0 1px;
}
.followus-part ul li a {
  background-color: #fff;
  width: 22px;
  height: 22px;
  display: block;
  line-height: 26px;
  border-radius: 50px;
}
.followus-part ul li a img {
  height: 14px;
}
.footerlastpart {
  border-top: 1px solid #fff;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerlast-left {
  width: 40%;
}
.footerlast-right {
  width: 60%;
}
.footerlast-left h6 {
  color: #ff8022;
  font-size: 16px;
}
.footerlast-right p {
  color: #fff;
  font-size: 10px;
  line-height: 16px;
}
.popup-area {
  padding: 0;
}
.popuppart {
  width: 580px;
  display: block;
  margin: auto;
  height: 600px;
}
.popupright {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: grid;
  align-items: center;
  padding: 30px 45px;
  box-sizing: border-box;
  position: relative;
  z-index: 9;
}
.maincheckbox,
.popupform-heading {
  padding-bottom: 20px;
}
.popupform-heading h3 {
  color: #0f4fef;
  font-size: 30px;
  text-align: center;
  margin: 0;
  font-weight: 700;
}
.popupform-heading p {
  color: #0c0c0c;
  font-size: 14px;
  margin: 0;
  text-align: center;
  padding: 5px 0;
}
.popupform-item1 {
  display: flex;
  gap: 25px;
}
.popupformitems p {
  color: #0c0c0c;
  font-size: 14px;
  margin: 0;
  line-height: 18px;
  padding-bottom: 3px;
}
.popupformitems input {
  color: #000;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  padding: 12px 14px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1.5px solid #aaa;
  outline: 0;
  margin-bottom: 10px;
  background-color: #f3f3f5;
}
.popupformitems input:focus {
  border: 1.5px solid #fd6f06;
}
.popupformitems input::placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.checkboxpart {
  display: block;
  position: relative;
  padding-left: 31px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #0c0c0c;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
}
.checkboxpart input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff00;
  border: 1px solid #272727;
  border-radius: 0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkboxpart .checkmark:after {
  left: 7px;
  top: 1px;
  width: 4px;
  height: 10px;
  border: solid #0c0c0c;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}
.password-container input {
  padding-right: 40px;
  width: 100%;
}
.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  background: 0 0;
  border: none;
  width: 24px;
  height: 24px;
  top: 11px;
}
.toggle-password img {
  filter: brightness(0) saturate(100%) invert(73%) sepia(69%) saturate(6461%)
    hue-rotate(356deg) brightness(105%) contrast(105%);
  width: 17px;
  height: 17px;
}
.popupformitems h6 {
  color: #0f4fef;
  font-size: 11px;
  margin: -12px 0 10px;
  font-weight: 400;
  line-height: 22px;
}
.popupformitems input[type="submit"] {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  outline: 0;
  margin-bottom: 0;
  transition: 0.2s;
  cursor: pointer;
  background: linear-gradient(90deg, #0f4fef 0, #fd6f06 100%);
}
.popupformitems input[type="submit"]:hover {
  background-color: #000;
}
.popupform-item3 h5 {
  color: #313131;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding-top: 18px;
}
.popupform-item3 h5 a {
  color: #0f4fef;
  font-weight: 700;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}
.close-btn {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 99;
}
.close-btn img {
  width: 20px;
  height: 20px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.popuplogo-part {
  padding: 15px 25px;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
.popuplogo-part img {
  height: 51px;
}
.mainrbmeftpd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.mainrbmeftpd .maincheckbox,
.newtextitem2 ul li:last-child {
  padding-bottom: 0;
}
.rbmeftpd-right p {
  margin: 0;
}
.rbmeftpd-right p a {
  color: #0f4fef;
  font-size: 14px;
  font-weight: 400;
}
.loginpart {
  padding-bottom: 40px;
}
.newtexts-area {
  background-color: #f3f3f5;
  padding: 70px 0 60px;
}
.newtextitem1,
.newtextitem2 {
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 7px;
  box-shadow: 0 4px 5px 0 #0000001a;
  padding: 28px;
}
.newtextitem1 h2,
.newtextitem2 h2 {
  font-family: "Open Sans", sans-serif;
  color: #313131;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
}
.newtextitem1 p {
  font-family: "Open Sans", sans-serif;
  color: #212529;
  font-size: 19px;
  line-height: 33px;
  margin: 0;
}
.newtextitem2 h3 {
  font-family: "Open Sans", sans-serif;
  color: #fd6f06;
  font-size: 22px;
  margin: 0;
  line-height: 36px;
  font-weight: 700;
}
.newtextitem2 h6,
.newtextitem2 ul li p {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}
.newtextitem2 h6 {
  color: #191921;
  margin: 0;
  font-weight: 400;
  padding-bottom: 20px;
}
.newtextitem2 ul {
  padding: 15px 0 15px 11px;
  margin: 0;
}
.newtextitem2 ul li {
  display: block;
  padding-bottom: 12px;
}
.newtextitem2 ul li span {
  width: 5px;
  height: 5px;
  background-color: #212529;
  display: block;
  border-radius: 40px;
}
.newtextitem2 ul li p {
  color: #212529;
  line-height: 36px;
  margin: -20px 0 0;
  padding-left: 14px;
}
.Cookieslist {
  padding-top: 0 !important;
  margin-left: 20px !important;
}
